{{#*inline "title"}}About Us{{/inline}}

<h2>About Seneca Social</h2>
<p>Seneca Social is a platform created by Seneca College students for Seneca College students. Our mission is to connect every student across all Seneca campuses.</p>
