{{!-- Set the page title --}}
{{#*inline "title"}}Home{{/inline}}

<h2>Welcome to Seneca Social</h2>
<p>This is the place where connections happen. Join us to connect with fellow students and stay updated on the latest events and activities.</p>
